<!DOCTYPE html>
<html>
<head>
    <title>@@title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/atom-one-dark.min.css">
    <style>

        @@css

    </style>
</head>
<body>
    <div id="mdcontent">

        @@markdown

    </div>
    <div id="md2html">
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/7.0.1/markdown-it.min.js">
    </script>
    <script type="text/javascript" src="script/markdown-it-link-target.min.js">
    </script>
    <script>
        var md = markdownit();
        md.use(markdownitLinkTarget);
        var markdown = document.getElementById('mdcontent');
        document.getElementById("md2html").innerHTML = md.render(markdown.innerHTML);
    </script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js">
    </script>
    <script>
        MathJax.Hub.Config({
            "HTML-CSS": {
                styles: {
                    "text-align": "left",
                }
            }
        });
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
