<!DOCTYPE html>
<html>

<head>
  <title>@@title</title>
  <meta charset="utf-8">
  <style>
    @@css
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/github.min.css">
</head>

<body>
  <textarea id="source" style="display:none">
    @@markdown
  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
    <script>
      var hljs = remark.highlighter.engine;
    </script>
    <script>
      var slideshow = remark.create({
          highlightStyle: 'mono-blue',
          highlightLanguage: 'javascript',
          highlightLines: true
        }) ;
    </script>
</body>

</html>
